*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    background-color:#F1F6F9 ;
    padding-bottom: 20%;


  } 

header {
    font-size: 50px;
    background-color: #212A3E;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    color: #9BA4B5;

  }
main {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    
}

section{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin: 20px;
    border-color:  #b5bac4;
    border-style: double;
    
    /*padding: 50px 80px;*/
    font-size: 3vw;*/

}
footer {
    position: fixed;
    bottom: 0px;
    background-color: #394867;
    /*height: 20vw;
    width: 100vw;*/
    font-size: 300%;
    width: 100%;

  }
.nav {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    height: 20%;
    width: 100%;
    }

.ques {
align-self: center;
font-size: 100%;

    
}
   
ul{
    display: flex;
    gap:20px;
    
}

nav a {color:  #394867;
   
}

ul a{
    color: #7b818c;
    font-size: 100%;
   
  
}

a:hover{
    color: lemonchiffon;
    background-color: black;
}
  
.bookmark {
    align-self: self-end;
    background-color: #394867;
    color:#394867;
    
    
    }
/*.bookmark::after {
    background-color: color:#394867 ;
    
}*/

/*.bookmark:focus {
    background-color:red;
}*/

/*.bookmark:visited {
    background-color: blue;
}*/

button {
    width: 20vw;
    height: 20vw;
    align-self: center;
    font-size: 100%;
    border-radius: 25%;

}

button:hover{
    color: lemonchiffon;
    background-color: black;
}

/*.pagetwo {
    background-color: brown;
}

.pagetwo::after {
    background-color: blueviolet;
}*/
